body{
  background: url("../images/background.png") no-repeat;
  background-position-x: center;
  background-position-y: 4%;
}

.container {
  width: 1024px;
  margin: 0 auto;
  font-size: 0;
  border: 1px #f3ede4 solid;
}

.img_02 { margin-left: 23px; }

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  li{
    position: relative;
    a{
      position: absolute;
      z-index: 1000;
      left: 66px;
      bottom: 26px;
      cursor: pointer;
      &:hover {
        content: url("../images/img_btn_on.png");
      }
    }
  }
}

.img--right { left: 27px;}

.img--bottom { bottom: 33px;}

.img_11_07, .img_11_08 { bottom: 35px;}

.img_11_01, .img_11_02 { bottom: 32px;}

.img--top__02 { bottom: 38px;}

.footer {position: relative;}

.footer__img {
  position: absolute;
  right: 28px;
  top: 20px;
}

.footer__link {
  position: absolute;
  top: 75px;
  a {margin-left: 25px;}
}

.img_12 {
  position: relative;
  a {
    position: absolute;
    bottom: 53px;
    left: 292px;
  }
}